@charset "ISO-8859-1";

html {
	background-image: url("../image/backUI1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}

.order-detail-container {
	display: flex;
	width: 391px;
	flex-direction: column;
	align-items: flex-start;
	gap: 68px;
}

.booking-detail-container {
	width: 100%;
}

.booking-detail-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.schedule-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}

.movie-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 18px;
	margin: 0px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	font-style: normal;
}

.movie-name {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 24px;
	margin-top: 6px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	font-style: normal
}

.date-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 0px;
}

.date {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	margin-top: 6px;
}

.ticket-detail-container {
	width: 100%;
}

.ticket-header-title-container {
	display: flex;
	justify-content: space-between;
}

.ticket-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 0px;
}

.ticket-hours-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-align: right;
	margin-bottom: 0px;
}

.ticket-header-info-container {
	display: flex;
	justify-content: space-between;
}

.ticket-name {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	margin-top: 6px;
	margin-bottom: 0px;
}

.ticket-hours {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	margin-top: 6px;
	margin-bottom: 0px;
}

.transaction-detail-container {
	width: 100%;
}

.transaction-detail-header {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.seat-info {
	display: flex;
	justify-content: space-between;
}

.seat-name {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.seat-price {
	color: var(--white, #FFF);
	text-align: right;
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.service-charge-info-container {
	display: flex;
	justify-content: space-between;
}

.service-charge-percentage {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.service-charge-amount {
	color: var(--white, #FFF);
	text-align: right;
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.total-container {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.total-title {
	color: var(--white, #FFF);
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.total-payment {
	color: var(--white, #FFF);
	text-align: right;
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.checkout-button-container {
	width: 100%;
}

.checkout-button {
	display: block;
	width: 100%;
	padding: 16px 10px;
	color: var(--white, #FFF);
	text-align: center;
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	border-radius: 8px;
	background: var(--primary, #1DE782);
	margin-bottom: 20px;
}