body {
    padding: 0;
    margin: 0;
    background-image: url("image/backUI1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.container {
    width: fit-content;
    height: fit-content;
    border: 0px solid #ccc;
    display: flex;
}

.logo img {
    width: 130px;
    height: auto;
}

.left-half {
    display: flex;
    width: auto;
    height: 100vh;
    padding: 40px 50px;
    flex-direction: column;
    justify-content: space-between;

}

.right-half {
    display: flex;
    background-color: #fff;
    width: auto;
    height: 100vh;
    padding: 0px 135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /* flex-shrink: 0; */
}

.text-welcome {
    /* display: flex; */
    width: 596px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 56px;
    font-style: italic;
    font-weight: 300;
    line-height: 120%;
}


.text-welcome p {
    margin: 10px 0;
    /* Adjust the margin as needed */
}




.card {
    background-color: #c22222;
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.login-title {
    color: var(--text-primary, #101012);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.input-style input {
    display: block;
    margin-bottom: 14px;
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid #e3e3e3;
    display: flex;
    width: 300px;
    padding: 12px;
    align-items: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.input-style label {
    color: var(--text-secondary, #5A5A5D);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
}

.input-style input[type=button] {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 0;
    background: #1DE782;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.forgot-pw {
    float: right;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
    color: #1DE782;
}

.register-link {
    text-align: center;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-style: none;
    line-height: 100%;
    text-transform: capitalize;
}

#span-text {
    color: #1DE782;
    text-decoration: none;
}