@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
	font-family: Poppins;
	margin: 0;
	color: #fff;
	background-image: url("bg_1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	height: 50px;
	width: 100%;
	margin: 0;
	padding-top: 30px;
}

ul {
	margin: 0;
}

.btn{
	width: 150px;
	justify-content: center;
}

li {
	display: inline;
}

button {
	cursor: pointer;
}

#logout-btn {
	display: flex;
	width: 100px;
	padding: 10px 10px;
	margin-right: 50px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 0;
	background: var(--red, #DC0000);
	color: #FFF;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;

}


a {
	text-decoration: none;

}

section {

	padding: 30px 50px;
	margin: 0;
}

.book-detail {
	margin-bottom: 50px;
}

.detail-section {
	display: flex;
}

.detail-loc {
	display: flex;
	padding: 9px 15px;
	margin-bottom: 10px;
	margin-right: 20px;
	align-items: center;
	gap: 14px;
	border-radius: 39px;
	border: 1px solid var(--white, #FFF);
	background-color: transparent;
	color: #FFF;
}

.detail-date {
	display: flex;
	width: 85px;
	height: 85px;
	padding: 15px 19px;
	margin-bottom: 10px;
	margin-right: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 8px;
	border: 2px solid var(--white, #FFF);
	background-color: transparent;
	color: #FFF;
}

.detail-day {
	color: var(--text-primary, #101012);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: #FFF;
}

.detail-gp {
	display: inline;
}

.detail-time {
	display: flex;
	padding: 12px 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	border: 1px solid var(--white, #FFF);
	background-color: transparent;
	color: #FFF;
}

.input-style {
	display: inline-flex;
	padding: 0px 20px 20px 20px;
	margin-top: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 31px;
	border-radius: 20px;
	border: 1px solid var(--white, #FFF);
	width: 200px;
}

.movie-details {
	width: fit-content;
	/* background-color: #ccc; */
	display: inline-block;
}

#proceed-btn {
	border-radius: 8px;
	border: 0;
	background: #1DE782;
	display: flex;
	width: 100%;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.payment-success {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.viewTicket-btn, .backHome-btn {
	display: flex;
	width: 300px;
	padding: 16px 10px;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	color: #F2E8E8;
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.viewTicket-btn{
	background: var(--primary, #1DE782);
}

.backHome-btn{
	border: 1px solid var(--white, #FFF);
	background-color: transparent;
}